﻿@using Visas.Models;
@{
    ViewBag.Title = "Поставщики";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Scripts = new string[]
    {
        "~/Scripts/Views/Admin/Suppliers/Index.js"
    };
}

<h3>
    <span>@ViewBag.Title</span> 
    
</h3>
<div class="box-white max-height" id="divGrid">
    <div class="box-grid">
        <div class="ejsgrid bootstrap" id="divSuppliers"></div>
    </div>
</div>

<script type="text/html" id="scrCountries">
    <div class="" id="divCountries">
        <h4>
            <span>Страны</span>
            <button class="btn btn-primary btn-small" data-bind="click: $root.createSupplierCountry"><i class='fa fa-plus'></i> Добавить</button>
        </h4>
        <div class="ejsgrid bootstrap" id="divCountriesGrid"></div>
    </div>
</script>
