﻿body 
{
    padding:0px;
    margin:0px;
    border:0px;
    min-width:1100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

body.mobile
{
    min-width:300px;
}

body.mobile #header
{
    color:white;
    background-color: #333333;
    padding:5px 10px;
    overflow:auto;
}

body.mobile #body
{
    padding:10px;
}

body.iframe
{
    min-width:0px;
}

#divBusy,
#divWorkLogBusy
{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:white;
    opacity:0.3;
    cursor:wait;
    z-index:9999;
}

#divWorkLogBusy
{
    z-index:10;
    opacity:0.4;
}

#divGrid
{
    clear:both;
}

#menu
{
    padding:0px 20px 0px 90px;
    background-color:#333333;
    color:white;
}

#menu div.pull-right
{
    margin:10px 0px;
}

#menu ul.menu
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    overflow:auto;
}

#menu ul.menu li
{
    float:left;
}

#menu ul.menu li a
{
    display:block;
    color:white;
    padding:15px 20px;
    font-size:17px;
}

#menu ul.menu li a:hover,
#menu ul.menu li:hover ul.submenu li a:hover
{
    background-color: #666666;
}

#menu ul.menu li.selected a
{
    background-color: #555555;
}

#menu ul.menu li ul.submenu
{
    list-style-type:none;
    padding:0px;
    margin:0px;
    position:absolute;
    background-color:#333;
    display:none;
    z-index:1;
    background-color:#333333;
}

#menu ul.menu li:hover ul.submenu
{
    display:block;
}

#menu ul.menu li:hover ul.submenu li a
{
    background-color:#333333;
}

#menu ul.menu li:hover ul.submenu li.selected a
{
    background-color: #555555;
}

#menu ul.menu li ul.submenu li
{
    float:none;
}

#body
{
    padding:10px 20px;
}

iframe
{
    border:none;
    overflow:auto;
    background-color:transparent;
    height:100%;
}

.machine-photos-lots table
{
    font-size:large;
    width:100%;
    height:100%;
}

.machine-photos-lots table thead
{
    vertical-align:bottom;
}

.machine-photos-lots table th,
.machine-photos-lots table td
{
    border: 1px solid gray;
}

.machine-photos-lots table th
{
    max-width:128px;
}

.machine-photos-lots table td
{
    padding:10px;
    text-align:center;
    font-size:larger;
    font-weight:bold;
}

.machine-photos-lots table td.selected
{
    background-color: lightgreen;
}

.left-column
{
    width:260px;
    float:left;
}

.right-content
{
    margin-left:280px;
}

.box
{
    padding:10px;
}

.box-white
{
    border:1px solid #C0C0C0;
    box-shadow:0px 0px 5px #C0C0C0;
    padding:10px 15px;
}

.box-white .box-fieldset
{
    margin:5px 0px 15px 0px;
}

.box-content
{
    padding: 15px;
    overflow: auto;
}

.box-gray 
{
    background-color: #f5f5f5;
    border: 1px solid #D5D5D5;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    overflow:auto;
    padding:5px 10px;
}

.box-gray .alert-loading
{
    text-align:center;
    margin:0px auto;
    width:300px;
    padding: 2px 0px;
}

.box-maring-bottom
{
    margin-bottom:20px;
}

.box-grid
{
    overflow:auto;
    max-width:100%;
}

.box-header-actions
{
    float:right;
    margin:15px 5px 0px 0px;
}

.box-header-actions .frm-search
{
    float:left;
    margin-right:10px;
}

.max-height
{
    overflow:auto;
}

strong.required
{
    color:red;
    font-size:120%;
}

.ejs-resizable-helper
{
    border:2px dotted black!important;
}

div.ejsgrid
{
    min-height:300px;
}

div.ejsgrid.bootstrap table.ejsgrid tr.info:nth-child(odd) td,
div.ejsgrid.bootstrap table.ejsgrid tr.info td
{
    background-color: #d9edf7;
}

div.ejsgrid tr.filter input[type=text]
{
    height:30px;
}

div.ejsgrid div.ejsgrid-header table.header tr td div.col div.text
{
    font-size:12px;
}

a.icon,
a.icon:hover
{
    text-decoration:none;
    text-decoration:none;
}

input[type=text].invalid,
select.invalid,
textarea.invalid
{
    border-color:red;
}

div.invalid
{
    background-color:#F08C65;
}

.h3-right
{
    float:right;
    margin-top:10px;
    font-size:13px;
}

.order-details
{
}

.order-details .order-details-right
{
    float:right;
    width:380px;
}

.order-details .order-details-left
{
    margin-right:400px;
}

.order-details .order-details-left .col
{
    width:50%;
    height:125px;
    float:left;
}

.order-details .col .box-fieldset
{
    clear:left;
}

.order-details .order-details-left .col .col-border-right,
.order-details .order-details-left .col .col-border-left
{
    border-right:1px solid #CCCCCC;
    margin-right:50px;
}

.order-procedure
{
    border-collapse:collapse;
    padding:0px;
    margin:0px;
}

.order-procedure td.order-procedure-container-td
{
    padding:0px;
    margin:0px;
    vertical-align:top;
}

.order-procedure td.order-procedure-container-td .procedure-col
{
    overflow:auto;
}

.order-procedure tr.order-procedure-header
{
    overflow:hidden;
    white-space:nowrap;
}

.order-procedure tr.order-procedure-header th
{
    height:20px;
    max-height:20px;
}

.order-procedure div.order-procedure-header
{
    height:37px;
}

.order-procedure tr.order-procedure-row td.order-procedure-td
{
    height:109px;
    min-height:109px;
    max-height:109px;
    overflow:hidden;
}

.order-procedure div.order-procedure-td
{
    height:124px;
    min-height:124px;
    max-height:123px;
    padding:2px 8px 0px 8px;
}

.order-procedure td.order-procedure-container-td table.table-condensed
{
    margin:0px;
}

.order-procedure td.order-procedure-container-td table.table-condensed td
{
    padding:3px;
    font-size:11px;
    white-space:nowrap;
    height:22px;
    overflow:hidden;
    max-height:22px;
    min-height:22px;
}

.order-procedure td.order-procedure-container-td table.table-condensed td .editable
{
    display:block;
}

.order-procedure td.order-procedure-container-td table.table-condensed td .editable strong
{
    margin-right:50px;
    display:block;
}

.order-procedure td.order-procedure-container-td table.table-condensed td .editable .editable-buttons
{
    float:right;
}

.order-procedure td.order-procedure-container-td table.table-condensed td .editable .editable-buttons a
{
}

.order-procedure .divEdit
{
    display:none;
}

.table-works
{   
}

.table-works td
{
    width:20%;
    font-size: 16px;
    line-height:35px;
    font-weight:bold;
}

.table-works td[colspan="2"]
{
    width:40%;
}

.table-works td[colspan="3"]
{
    width:60%;
}

.table-works .btn-stop
{
    position:relative;
    z-index:11;
}

.table-works .btn
{
    text-transform:uppercase;
    font-weight:bold;
}

.table-works .btn-xlarge
{
    height: 35px;
    font-size: 16px;
}

.editable,
.editable-readonly
{
    display:inline-block;
    padding:1px 0px 1px 3px;
    border:1px solid transparent;
    border-radius:1px;
    height:21px;
    overflow:hidden;
    white-space:nowrap;
}

.editable.editable-big
{
    height:auto;
    white-space:normal;
}

.editable:hover
{
    border-color: #CCCCCC;
    transition:border-color 0.3s;
    -webkit-transition:border-color 0.3s;
    -moz-transition:border-color 0.3s;
    -ms-transition:border-color 0.3s;
    -o-transition:border-color 0.3s;
}

h3 .editable
{
    height: 38px;
    overflow:visible;
}

.editable .editable-buttons
{
    display:inline-block;
    color:black;
    opacity:0;
    padding:0px;
    margin-left:4px;
    margin-top:-2px;
    border-left:1px solid #CCCCCC;
}

h3 .editable .editable-buttons
{
    float: right;
}

.editable .editable-buttons a
{
    color:black;
    height: 23px;
    line-height:23px;
    padding: 0px 4px;
    display: inline-block;
}

h3 .editable .editable-buttons a
{
    height:40px;
    line-height:38px;
}

h3 span.buttons
{
    line-height:20px;
    margin-bottom:0px;
}

.editable .editable-buttons a:hover
{
    text-decoration:none;
    background-color:#F0F0F0;
}

.editable:hover .editable-buttons
{
    opacity:1;
    transition:opacity 0.3s;
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -ms-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
}

.editable.editable-big .editable-buttons
{
    float:right;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom:-1px;
}

.editable.editable-active
{
    padding-right:3px;
}

.editable a.editable-remove
{
    border-left:none;
    margin-left:0px
}

.editable .editable-text .order-status,
.editable .editable-text .coder-status,
.editable .editable-text .master-status
{
    display:inline-block;
    padding:0px 2px;
    margin:-2px 0px;
}

.tabs-actions
{
    float:right;
    position:relative;
    z-index:1;
    margin:10px 10px 0px 0px;
    font-size:13px;
}

.tabs-actions a
{
    margin-left:10px;
}

input[type=text].plain,
select.plain,
textarea.plain
{
    border-color:transparent;
    box-shadow:none;
    -webkit-appearance: none;
    box-sizing: content-box;
    padding: 0px 4px;
    line-height:normal;
    resize: none;
    margin-bottom:0px;
    color:#333333;
}

input[type=text].plain.link,
select.plain.link,
textarea.plain.link
{
    color:#0875b4;
}

input[type=text].plain,
select.plain
{
    height: 20px;
}

input[type=text].plain:focus,
select.plain:focus,
textarea.plain:focus,
input[type=text].plain:hover,
select.plain:hover,
textarea.plain:hover
{
    border: 1px solid #ccc;
}

select.plain
{
    cursor:pointer;
}

input[type=text].plain[readonly]
{
    background-color:white;
}

.two
{
    overflow:auto;
}

.two .col
{
    float:left;
    width:50%;
    padding:0px;
    margin:0px;
    overflow:auto;
}

.three
{
    overflow:auto;
}

.three .col
{
    float:left;
    width:33.333%;
}

.three .two
{
    float:left;
    width:66.666%;
}

.text-right,
.table td.text-right
{
    text-align:right;
}

.text-fade
{
    color:#C0C0C0;
}

.hidden
{
    display:none;
}

.span1-5
{
    width:95px;
}

select.span5
{
    width:376px;
}

.table.table-autowidth
{
    width:auto;
}

.table.table-small
{
    font-size:12px;
}

.table.table-small input
{
    padding: 1px 4px;
}

.table.table-small select
{
    height:24px;
}

.table .td-nopadding
{
    padding:0px;
}

.table .td-morepadding
{
    padding: 4px 9px;
}

.table .td-noborder
{
    border-left:none;
    border-right:none;
}

.table .td-nopadding .table
{
    margin-bottom:0px;
}

.table-header .tr-header th
{
    background-color:#F0F0F0;
}

.table.table-noborder td,
.table.table-noborder th
{
    border:none;
}

.table.table-brief
{

}

.table.table-brief td
{
    padding-right:18px;
    min-width:50px;
}

.table.table-brief input[type=text]
{
    margin:4px 2px;
    margin-bottom:2px;
    outline:none;
    box-shadow:none;
}

.table.table-brief input[type=text]:focus
{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.on-top
{
    position:fixed;
    right:0px;
    bottom:0px;
    background-color:#C0C0C0;
    width:20px;
    height:20px;
    cursor:pointer;
    opacity:0.8;
    display:block;
}

.on-top:hover
{
    background-image:url(images/on-top.png);
    background-position: center center;
    background-repeat:no-repeat;
    width:60px;
    height:60px;
    opacity:1;
    transition:opacity, width, height 0.3s;
    -webkit-transition:opacity, width, height 0.3s;
    -moz-transition:opacity, width, height 0.3s;
    -ms-transition:opacity, width, height 0.3s;
    -o-transition:opacity, width, height 0.3s;
}

.form-login
{
    margin:50px auto 0px auto;
    width:300px;
}

.form-horizontal.form-long-label .control-label
{
    width:200px;
}

.form-horizontal.form-long-label .controls
{
    margin-left:220px;
}

.form-plain
{
}

.form-plain .form-item
{
    overflow:visible;
    margin-bottom:7px;
    clear:left;
}

.form-plain .form-hr
{
    border-bottom: 1px solid #CCCCCC;
    margin:5px 0px;
}

.form-plain .form-item .form-title
{
    float:left;
    display:block;
    margin-top: 2px;
}

.form-plain .form-item .form-title .editable
{
    margin-left:-3px;
}

.form-plain .form-item .form-control
{
    margin-left:160px;
}

.form-plain .form-item .form-title select.caption
{
    border-left: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: black;
    margin-left: -9px;
}

.form-plain .form-item .form-control .on-hover,
.with-hover .on-hover
{
    display:none;
}

.form-plain .form-item .form-control:hover button.on-hover,
.with-hover:hover button.on-hover
{
    display:inline-block
}

.form-plain .form-item .form-control:hover div.on-hover,
.with-hover:hover div.on-hover
{
    display:block;
}

.form-plain .form-item .form-control *,
.form-plain .form-item .form-title *
{
    vertical-align:middle;
    margin-bottom:0px;
}

input.input-link
{
    cursor:pointer;
}

.nav-tabs .nav-tab-with-control
{
}

.nav-tabs .nav-tab-with-control a
{
    padding-right:30px;
}

.nav-tabs .nav-tab-with-control .nav-tab-control
{
    float:right;
    margin: 10px 5px 0px 0px;
    width: 20px;
}

.ui-timepicker
{
    box-shadow:0px 0px 3px #C0C0C0;
    margin-top:3px;
}

.ui-timepicker .ui-timepicker-table
{
    padding:0px;
    margin:0px;
    border-collapse:collapse;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker-hours,
.ui-timepicker .ui-timepicker-table .ui-timepicker-minutes
{
    padding:0px;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker-title
{
    background-color:#F0F0F0;
    border:none;
    padding:3px 5px;
    border-bottom:1px solid #C0C0C0;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker
{
    padding:0px;
    margin:0px;
    border:none;
    border-collapse:collapse;
    background-color:transparent;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker td
{
    padding:3px;
    background-color:transparent;
    border:none;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker td a
{
    cursor:pointer;
    padding:1px 2px;
}

.ui-timepicker .ui-timepicker-table th.periods
{
    padding:0px 5px;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker-minutes .ui-timepicker
{
    margin-left:10px;
}

.ui-timepicker .ui-timepicker-table .ui-timepicker-minutes .ui-timepicker-title
{
    padding-left:15px;
}

input.txt-noborder
{
    border:none;
    box-shadow:none;
}

input.txt-max
{
    width:100%;
}

input.txt-small
{
    padding: 2px 4px;
    margin-bottom:0px;
}

span.txt.txt-disabled
{
    display: inline-block;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    vertical-align: middle;
    background-color: #eeeeee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    height: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin:0px;
}

.label.label-clean
{
    color:black;
    background-color:transparent;
}

.btn-max
{
    width:100%;
    box-sizing:border-box;
}

.btn.btn-nopadding
{
    padding-left:0px;
    padding-right:0px;
}

.btn.btn-small input[type=checkbox]
{
    margin:0px;
}

.plupload_button:hover
{
    text-decoration:none;
}

.plupload_button .ui-button-icon-primary
{
    float: left;
    margin: 4px 0px;
}

.plupload_button .ui-button-text
{
    padding: 3px 10px;
    margin-left: 12px;
}

.plupload_view_switch .plupload_button
{
    width: 20px;
}

.plupload_view_switch .ui-button-icon-only .ui-icon
{
    margin-left:0px;
}

.btn-honey-pot-5
{
    text-shadow: 0px -1px 0px #9f2b14;
    color: #ffffff;
    background-color: #BD4932;
    background-image: -moz-linear-gradient(top, #db6750, #9f2b14);
    background-image: -ms-linear-gradient(top, #db6750, #9f2b14);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db6750), to(#9f2b14));
    background-image: -webkit-linear-gradient(top, #db6750, #9f2b14);
    background-image: -o-linear-gradient(top, #db6750, #9f2b14);
    background-image: linear-gradient(top, #db6750, #9f2b14);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db6750', endColorstr='#9f2b14', GradientType=0);
    border-color: #BD4932 #9f2b14 #9f2b14 #BD4932;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-honey-pot-5:hover,
.btn-honey-pot-5:active,
.btn-honey-pot-5.active,
.btn-honey-pot-5.disabled,
.btn-honey-pot-5[disabled] 
{
    background-color: #9f2b14;
}

.btn-honey-pot-5:hover 
{
    color: #fffffa;
    text-shadow: 0px -1px 0px #810d00;
}

/* class: .btn-wonka-land-2,  color theme: Wonka Land */
.btn-wonka-land-2, .btn-wonka-land-2:focus { text-shadow: 0px -1px 0px #ae6800; color: #ffffff; background-color: #CC8604; background-image: -moz-linear-gradient(top, #eaa422, #ae6800); background-image: -ms-linear-gradient(top, #eaa422, #ae6800); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaa422), to(#ae6800)); background-image: -webkit-linear-gradient(top, #eaa422, #ae6800); background-image: -o-linear-gradient(top, #eaa422, #ae6800); background-image: linear-gradient(top, #eaa422, #ae6800); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaa422', endColorstr='#ae6800', GradientType=0); border-color: #CC8604 #ae6800 #ae6800 #CC8604; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-wonka-land-2:hover, .btn-wonka-land-2:active, .btn-wonka-land-2.active, .btn-wonka-land-2.disabled, .btn-wonka-land-2[disabled] { background-color: #ae6800; }
.btn-wonka-land-2:hover { color: #ffffcc; text-shadow: 0px -1px 0px #904a00; }
.btn-wonka-land-2.active, .btn-wonka-land-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffea68; }
/* end .btn-wonka-land-2 */

/* class: .btn-beetle-bus-goes-jamba-juice-1,  color theme: Beetle Bus goes Jamba Juice! */
.btn-beetle-bus-goes-jamba-juice-1, .btn-beetle-bus-goes-jamba-juice-1:focus { text-shadow: 0px -1px 0px #550028; color: #ffffff; background-color: #730046; background-image: -moz-linear-gradient(top, #911e64, #550028); background-image: -ms-linear-gradient(top, #911e64, #550028); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#911e64), to(#550028)); background-image: -webkit-linear-gradient(top, #911e64, #550028); background-image: -o-linear-gradient(top, #911e64, #550028); background-image: linear-gradient(top, #911e64, #550028); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#911e64', endColorstr='#550028', GradientType=0); border-color: #730046 #550028 #550028 #730046; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-beetle-bus-goes-jamba-juice-1:hover, .btn-beetle-bus-goes-jamba-juice-1:active, .btn-beetle-bus-goes-jamba-juice-1.active, .btn-beetle-bus-goes-jamba-juice-1.disabled, .btn-beetle-bus-goes-jamba-juice-1[disabled] { background-color: #550028; }
.btn-beetle-bus-goes-jamba-juice-1:hover { color: #ffc8ff; text-shadow: 0px -1px 0px #37000a; }
.btn-beetle-bus-goes-jamba-juice-1.active, .btn-beetle-bus-goes-jamba-juice-1:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #d764aa; }
/* end .btn-beetle-bus-goes-jamba-juice-1 */

/* class: .btn-century-5,  color theme: Century */
.btn-century-5, .btn-century-5:focus { text-shadow: 0px 1px 0px #ffff7b; color: #000000; background-color: #D9E53F; background-image: -moz-linear-gradient(top, #f7ff5d, #bbc721); background-image: -ms-linear-gradient(top, #f7ff5d, #bbc721); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7ff5d), to(#bbc721)); background-image: -webkit-linear-gradient(top, #f7ff5d, #bbc721); background-image: -o-linear-gradient(top, #f7ff5d, #bbc721); background-image: linear-gradient(top, #f7ff5d, #bbc721); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ff5d', endColorstr='#bbc721', GradientType=0); border-color: #D9E53F #bbc721 #bbc721 #D9E53F; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-century-5:hover, .btn-century-5:active, .btn-century-5.active, .btn-century-5.disabled, .btn-century-5[disabled] { background-color: #bbc721; }
.btn-century-5:hover { color: #758100; text-shadow: 0px 1px 0px #ffff7b; }
.btn-century-5.active, .btn-century-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #394500; }
/* end .btn-century-5 */

/* class: .btn-hint-of-monet-5,  color theme: Hint of Monet */
.btn-hint-of-monet-5, .btn-hint-of-monet-5:focus { text-shadow: 0px -1px 0px #452c88; color: #ffffff; background-color: #634AA6; background-image: -moz-linear-gradient(top, #8168c4, #452c88); background-image: -ms-linear-gradient(top, #8168c4, #452c88); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8168c4), to(#452c88)); background-image: -webkit-linear-gradient(top, #8168c4, #452c88); background-image: -o-linear-gradient(top, #8168c4, #452c88); background-image: linear-gradient(top, #8168c4, #452c88); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8168c4', endColorstr='#452c88', GradientType=0); border-color: #634AA6 #452c88 #452c88 #634AA6; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-hint-of-monet-5:hover, .btn-hint-of-monet-5:active, .btn-hint-of-monet-5.active, .btn-hint-of-monet-5.disabled, .btn-hint-of-monet-5[disabled] { background-color: #452c88; }
.btn-hint-of-monet-5:hover { color: #ffffff; text-shadow: 0px -1px 0px #270e6a; }
.btn-hint-of-monet-5.active, .btn-hint-of-monet-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #c7aeff; }
/* end .btn-hint-of-monet-5 */

.photos .photo-item.multiple-Visas
{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(250, 20, 20, 0.9);
-moz-box-shadow:    0px 0px 30px 0px rgba(250, 20, 20, 0.9);
box-shadow:         0px 0px 30px 0px rgba(250, 20, 20, 0.9);
}

.photos .photo-item.multiple-Visas img
{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(250, 20, 20, 0.9);
-moz-box-shadow:    0px 0px 30px 0px rgba(250, 20, 20, 0.9);
box-shadow:         0px 0px 30px 0px rgba(250, 20, 20, 0.9);
}


.uneditable-label
{
    padding: 4px;
    font-size: 13px;
}

.ml10px
{
    margin-left:10px;
}