﻿@using Visas.Models;
@{
    ViewBag.Title = "Клиенты";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Scripts = new string[]
    {
        "~/Scripts/Views/Admin/Clients/Index.js"
    };
}

<h3>
    <span>@ViewBag.Title</span> 
    
</h3>
<div class="box-white max-height" id="divGrid">
    <div class="box-grid">
        <div class="ejsgrid bootstrap" id="divClients"></div>
    </div>
</div>


<script type="text/html" id="scrBranch">
    <div class="two">
        <select class="span3 required valid col" data-bind="uniqueName: true, options: $root.activeBranches(branchID()), optionsText: 'name', optionsValue: 'id', optionsCaption: '', value: branchID"></select>
        <div class="col">
            <label class="checkbox ml10px">
                <input type="checkbox" data-bind="checked: isAgency"/>
                Турфирма
            </label>
        </div>
    </div>
</script>