﻿@using Visas.Models;
@{
    ViewBag.Title = "Заявки - Получение";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Scripts = new string[]
    {
        "~/Scripts/Views/Admin/Applications/Receiving.js"
    };
}
<h3>
    <span class="pull-right" >
        <span class="input-append input-prepend">
            <span class="add-on">На дату:</span>
            <input type="text" class="span2" data-bind="datepicker: true, value: $root.filter.date"/>
            <button type="button" class="btn btn-success" data-bind="click: $root.applicationsPager.refresh()">
                <i class="fa fa-refresh"></i>
                Показать
            </button>
        </span>
    </span>
    <span>@ViewBag.Title</span>    
    <button type="button" class="btn btn-primary" data-bind="click: $root.receiveApplications">
        <i class="fa fa-envelope-o"></i>
        Получено
    </button>
</h3>
<div class="box-white max-height" id="divGrid">
    <div class="box-grid">
        <div class="ejsgrid bootstrap" id="divApplications"></div>
    </div>
</div>

@*<script type="text/html" id="scrBranch">
    <div class="two">
        <select class="span3 required valid col" data-bind="uniqueName: true, options: $root.activeBranches(branchID()), optionsText: 'name', optionsValue: 'id', optionsCaption: '', value: branchID"></select>
        <div class="col">
            <label class="checkbox ml10px">
                <input type="checkbox" data-bind="checked: isAgency"/>
                Турфирма
            </label>
        </div>
    </div>
</script>

<script type="text/html" id="scrVisaCountry">
    <div class="two">
        <select class="span3 required valid col" data-bind="uniqueName: true, options: $root.activeCountries(visaCountryID()), optionsText: 'name', optionsValue: 'id', optionsCaption: '', value: visaCountryID" ></select>
        <div class="col">
            <label class="checkbox ml10px">
                <input type="checkbox" data-bind="checked: urgent"/>
                Срочно
            </label>
        </div>
    </div>
</script>

<script type="text/html" id="scrDocuments">
    <div class="" id="divDocuments">
        <h4>
            <span>Документы</span>
            <button class="btn btn-primary btn-small" data-bind="click: $root.createApplicationDocument"><i class='fa fa-plus'></i> Добавить</button>
        </h4>
        <div class="ejsgrid bootstrap" id="divDocumentsGrid"></div>
    </div>
</script>*@