﻿@using Visas.Models;
@{
    ViewBag.Title = "Страны";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Scripts = new string[]
    {
        "~/Scripts/Views/Admin/Countries/Index.js"
    };
}

<h3>
    <span>@ViewBag.Title</span> 
    
</h3>
<div class="box-white max-height" id="divGrid">
    <div class="box-grid">
        <div class="ejsgrid bootstrap" id="divCountries"></div>
    </div>
</div>
